* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(250, 235, 215, 0.616);
}

.main {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.main .game-wrap {
  width: 100%;
  text-align: center;
  justify-content: space-between;
  display: flex;
  flex-flow: column;
}

.game-wrap h1 {
  font-size: 3em;
}

.game-wrap .game-blocks .blockRow {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.game-wrap .game-blocks .blockRow .blockCol {
  border: 1px solid black;
  width: 130px;
  height: 100px;
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.game-interager {
  display: flex;
  margin: 0 50px;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
}

.game-interager .player1 {
  border: 3px solid black;
  flex-grow: 1;
  background-color: rgba(0, 0, 255, 0.63);
  border-radius: 5px;
  margin: 0 10px;
  padding: 10px 0;
  color: white;
}

.game-interager .player2 {
  border: 3px solid black;
  flex-grow: 1;
  background-color: rgba(255, 0, 0, 0.63);
  border-radius: 5px;
  padding: 10px 0;
  color: white;
}

.game-interager .turnOff {
  opacity: 0.2;
  transition: 0.2s;
}

.restart {
  display: flex;
  font-weight: bold;
  justify-content: center;
  border-radius: 5px;
  border: 3px solid black;
  padding-top: 10px;
  font-size: 20px;
  height: 50px;
  color: white;
  background-color: rgba(0, 128, 0, 0.76);
}

.footer {
  background-color: rgba(128, 128, 128, 0.308);
  display: flex;
  height: 100px;
  width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  font-weight: bold;
}
